.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* custom CSS */

.member-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  border: 2px solid black;
  width: 50%;
  margin: 2rem;
  background-color:#001DA7;
  color: white;
}

input, button {
  height: 2rem;
  margin: 1rem;
}